/* 내용영역 */
#content{
    position: relative;
    width: 100%;
    height: 100%;
    left: 370px;
    bottom: 520px;
}

#first-content>img{
    margin-top: 130px;
    margin-left: 100px;
    width: 40px;
    height: 50px;
}

#content>#first-content>hr:nth-child(2){
    height: 1px;
    width: 1170px;
    background-color: rgb(116, 116, 116);
    border: 0px solid rgb(65, 65, 65);
    position: absolute;
    left: 100px;
    top: 180px;
}

#content>#first-content>a:nth-child(3){
    position: absolute;
    left: 160px;
    top: 135px;
    color: #08354D;
    font-size: 26px;
    font-weight: bold;
}

#declaration{
    position: absolute;
    width: 1070px;
    height: 1000px;
    left: 150px;
    top: 260px;
    border-radius: 30px;
    border: 1px dashed black;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 3fr 3fr 150px;
    grid-template-rows: 80px 30px 80px 30px 80px 30px 80px 30px 80px 30px 80px 30px 80px 30px 80px 30px 30px;
}

#declaration>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#hr, #hr2, #hr3, #hr4{grid-column: span 6}

#declaration>div:first-child, #declaration>div:nth-child(2), #declaration>div:nth-child(3),
#declaration>div:nth-child(4), #declaration>div:nth-child(5), #declaration>div:nth-child(6){
    margin-top: 20px;
    font-size: 21px;
}

#hr>hr, #hr2>hr, #hr3>hr, #hr4>hr{
    width: 1070px;
    color: black;
}

/* 카테고리 및 검색 */
#report-search input[type="submit"]{
    background-image: url('/TravelMate/static/img/검색이미지.png');
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    cursor:pointer;
    outline: 0;
    color: rgba(255, 255, 255, 0);
    position: absolute;
    right: -5px;
    top: 8px;
}

#report-search{
    position: absolute;
    right: 670px;
    top: 134px;
}

#report-search>form>input[type="text"]{
    width: 220px;
    height: 40px;
    font-size: 16px;
}

select[name="searchType"]{
    width: 130px;
    height: 40px;
    font-size: 16px;
    margin-right: 5px;
}

/* 세부내용영역 */
.chk_box { 
    display: flex;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chk_box input[type="checkbox"] { display: none;}
.on { width: 28px; height: 28px; background: #ddd; position: absolute; top: 0; left: 0;}
.chk_box input[type="checkbox"]:checked + .on { background: #558B32;}
.on:after { content: ""; position: absolute; display: none; }
.chk_box input[type="checkbox"]:checked + .on:after { display: block; }
.on:after { width: 15px; height: 15px; border: solid #fff; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; left: 6px; top: 2px; }

#write{
    border: 0;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    width: 110px;
    height: 40px;
    font-size: 17px;
    background-color: #08354D;
    color:white;
    cursor: pointer;
    position: relative;
    left: 870px;
}

#update{
    border: 0;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    width: 110px;
    height: 30px;
    font-size: 17px;
    background-color: #08354D;
    color:white;
    cursor: pointer;
    position: relative;
    top: 20px;
    right: 65px;
}

#delete{
    border: 0;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    width: 110px;
    height: 30px;
    font-size: 17px;
    background-color: #08354D;
    color:white;
    cursor: pointer;
    position: relative;
    top: -20px;
    right: -10px;
}

#report-content label, #report-content input, #report-content span{
    margin-bottom: 30px;
}

button:hover, input[type="submit"]:hover, #delete:hover, #update:hover, #write:hover {background-color: #96C378; color: black;}

#page-area{
    grid-column: span 6;
}

#page-area>a{
    font-size: 18px;
    margin: 20px;
}

#page-area>a:focus{
    text-decoration: solid;
    background-color: #96C378;
}

#voImg{
    background: none;
    border: none;
}

/* 모달부분 */
#imgMore{
    display: none;
    margin-left: 400px;
    margin-top: -400px;
}

.stop-active1{
    width: 550px;
    height: 500px;
    background-color: rgb(232, 232, 232);
    border: 1px solid black;
    position: fixed;
    box-shadow : rgba(0, 0, 0, 0.791) 0 0 0 9999px;
    z-index: 8;
    display: inline-block;
    font-size: 20px;
}

#modal-content{
    width: 550px;
    height: 500px;
}

#bannerImg{
    width: 420px;
    height: 420px;
}

#bannerImg img{
    width: 420px;
    height: 420px;
}

#close{
    grid-column: span 3;
    display: flex;
    justify-content: end;
    margin-top: 5px;
    border-bottom: 1px dashed black;
}

#close svg{
    margin-right: 10px;
}

#close svg:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.193);
}

#modal-content div:nth-child(4), #modal-content div:nth-child(7),
#modal-content div:nth-child(10), #modal-content div:nth-child(13),
#modal-content div:nth-child(16), #modal-content div:nth-child(19),
#modal-content div:nth-child(22), #modal-content div:nth-child(25),
#modal-content div:nth-child(28), #modal-content div:nth-child(31){
    color: #558B32;
    display: flex;
    justify-content:center;
    margin-top: 17px;
}

#modal-content div:nth-child(3), #modal-content div:nth-child(6),
#modal-content div:nth-child(9), #modal-content div:nth-child(12),
#modal-content div:nth-child(15), #modal-content div:nth-child(18),
#modal-content div:nth-child(21), #modal-content div:nth-child(24),
#modal-content div:nth-child(27), #modal-content div:nth-child(30){
    color: #b5b5b5;
    display: flex;
    justify-content:start;
    margin-top: 17px;
}

#modal-content div:nth-child(2), #modal-content div:nth-child(5),
#modal-content div:nth-child(8), #modal-content div:nth-child(11),
#modal-content div:nth-child(14), #modal-content div:nth-child(17),
#modal-content div:nth-child(20), #modal-content div:nth-child(23),
#modal-content div:nth-child(26), #modal-content div:nth-child(29){
    display: flex;
    margin-top: 17px;
    margin-left: 70px;
}

#voImg:hover{
    background-color: rgba(122, 196, 122, 0.451);
    cursor: pointer;
}

/* body 스크롤 방지용 */
.stop-scroll{
    overflow: hidden;
  }